body {
    background-image: url(./assets/backStars.png);
}

@font-face {
    src: url(./assets/anurati-cufonfonts-webfont/Anurati-Regular.woff);
    font-family: anurati;
    }

    .navbar-custom { 
        background-color: mediumpurple; 
        
    }

    /* .kollabo {
        font-family: anurati;
        font-size: 150px;
        color: lightgrey;
        text-align: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
        text-shadow: 6px 6px 6px black;
        } */
       
          .shimmer {
            font-family: "anurati";
            font-weight: 3em;
            font-size: 200px;
            margin: 0 auto;
            padding: 0 140px 0 0;
            display: inline;
            margin-bottom: 0;
            text-shadow: 6px 6px 6px black;
          }
          p {
            font-family: "anurati";
            font-weight: 3em;
            font-size: 100px;
            color: lightgrey;
            width: 500px;
            text-align: justify;
            line-height: 1.5em;
            border-top: 1px dashed rgba(255,255,255,0.2);
            margin: 10px 0 0 5px;
            padding-top: 10px;
            text-shadow: 6px 6px 6px black;

          }
          p a {
            text-decoration: none;
            color: #fff;
          }
          p a:visted {
            color: #fff;
          }
          .shimmer {
            text-align: center;
            color: rgba(255,255,255,0.1);
            background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
            background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
            background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
            -webkit-background-size: 125px 100%;
            -moz-background-size: 125px 100%;
            background-size: 125px 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-animation-name: shimmer;
            -moz-animation-name: shimmer;
            animation-name: shimmer;
            -webkit-animation-duration: 2s;
            -moz-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: #222;
          }
          @-moz-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-webkit-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-o-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          
     .nav-item {
         font-family: anurati;
         text-transform: uppercase;
         color: orchid;
         text-shadow: 2px 2px 2px black;
     }

     .navbar-brand {
        font-family: anurati;
        text-transform: uppercase;
        color: white;
        text-shadow: 2px 2px 2px black;
    }